<!-- PRE-FOOTER -->
<div class="pre-footer border-top py-2 border-bottom py-2 mt-3">
  <div class="container">
    <div class="pre-footer-text text-secondary">ilmani</div>
  </div>
</div>

<!-- MAIN FOOTER -->
<div class="container mt-4">
  <div class="row g-5">

    <!-- COLONNA SINISTRA -->
    <div class="col-12 col-md-3">
      <div class="rectangle">
        <div class="footer-tagline mb-3 fs-0-8 fw-bolder">IL MIO MANI</div>
        <div class="d-flex flex-column gap-2 mb-4">
          <button class="btn btn-danger py-2 fw-bold rounded-0-1 d-flex justify-content-center" aria-label="Abbonati button">Abbonati</button>
          <button class="btn btn-outline-danger py-2 fw-bold rounded-0-1 d-flex justify-content-center" aria-label="Accedi button">Accedi</button>
        </div>
        <h6 class="fw-bold footer-title fs-0-9">INFO</h6>
        <ul class="list-unstyled small footer-info">
          <li class="mb-2"><a href="javascript:void(0)" class="text-black text-decoration-none" aria-label="Link - Aiuto Newsletter">Aiuto Newsletter</a></li>
          <li class="mb-2"><a href="javascript:void(0)" class="text-black text-decoration-none" aria-label="Link - Newsletter">Newsletter</a></li>
          <li class="mb-2"><a href="javascript:void(0)" class="text-black text-decoration-none" aria-label="Link - Tariffe">Tariffe</a></li>
          <li class="mb-2"><a href="javascript:void(0)" class="text-black text-decoration-none" aria-label="Link - Abbonamenti">Abbonamenti</a></li>
          <li class="mb-2"><a href="javascript:void(0)" class="text-black text-decoration-none" aria-label="Link - Regala un abbonamento">Regala un abbonamento</a></li>
          <li class="mb-2"><a href="javascript:void(0)" class="text-black text-decoration-none" aria-label="Link - La membership">La membership</a></li>
          <li class="mb-2"><a href="javascript:void(0)" class="text-black text-decoration-none" aria-label="Link - Cosa puoi fare">Cosa puoi fare</a></li>
          <li class="mb-2"><a href="javascript:void(0)" class="text-black text-decoration-none" aria-label="Link - Store">Store</a></li>
          <li class="mb-2"><a href="javascript:void(0)" class="text-black text-decoration-none" aria-label="Link - Termini e condizioni">Termini e condizioni</a></li>
          <li class="mb-2"><a href="javascript:void(0)" class="text-black text-decoration-none" aria-label="Link - Privacy">Privacy</a></li>
          <li class="mb-2"><a href="javascript:void(0)" class="text-black text-decoration-none" aria-label="Link - Cookie">Cookie</a></li>
        </ul>
      </div>
    </div>

    <!-- COLONNA DESTRA -->
    <div class="col-12 col-md-9 footer-right">
      <div class="row g-4">

        <!-- PRIMA COLONNA (NOTIZIE + INSERTI) -->
        <div class="col-12 col-md-4 footer-col-notizie-wrapper">

          <div class="footer-col-notizie">
            <h6 class="fw-bold footer-title fs-0-9">NOTIZIE</h6>
            <ul class="list-unstyled small">
              <li class="mb-2"><a href="javascript:void(0)" class="text-black text-decoration-none" aria-label="Link - Editoriale">Editoriale</a></li>
              <li class="mb-2"><a href="javascript:void(0)" class="text-black text-decoration-none" aria-label="Link - Commenti">Commenti</a></li>
              <li class="mb-2"><a href="javascript:void(0)" class="text-black text-decoration-none" aria-label="Link - Politica">Politica</a></li>
              <li class="mb-2"><a href="javascript:void(0)" class="text-black text-decoration-none" aria-label="Link - Internazionale">Internazionale</a></li>
              <li class="mb-2"><a href="javascript:void(0)" class="text-black text-decoration-none" aria-label="Link - Europa">Europa</a></li>
              <li class="mb-2"><a href="javascript:void(0)" class="text-black text-decoration-none" aria-label="Link - Italia">Italia</a></li>
              <li class="mb-2"><a href="javascript:void(0)" class="text-black text-decoration-none" aria-label="Link - Lavoro">Lavoro</a></li>
              <li class="mb-2"><a href="javascript:void(0)" class="text-black text-decoration-none" aria-label="Link - Economia">Economia</a></li>
              <li class="mb-2"><a href="javascript:void(0)" class="text-black text-decoration-none" aria-label="Link - Scuola">Scuola</a></li>
              <li class="mb-2"><a href="javascript:void(0)" class="text-black text-decoration-none" aria-label="Link - Cultura">Cultura</a></li>
              <li class="mb-2"><a href="javascript:void(0)" class="text-black text-decoration-none" aria-label="Link - Visioni">Visioni</a></li>
              <li class="mb-2"><a href="javascript:void(0)" class="text-black text-decoration-none" aria-label="Link - Sport">Sport</a></li>
              <li class="mb-2"><a href="javascript:void(0)" class="text-black text-decoration-none" aria-label="Link - Rubriche">Rubriche</a></li>
              <li class="mb-2"><a href="javascript:void(0)" class="text-black text-decoration-none" aria-label="Link - Appelli">Appelli</a></li>
            </ul>
          </div>

          <div class="footer-col-inserti mt-4">
            <h6 class="fw-bold footer-title fs-0-9">INSERTI</h6>
            <ul class="list-unstyled small">
              <li class="mb-2"><a href="javascript:void(0)" class="text-black text-decoration-none" aria-label="Link - Alias">Alias</a></li>
              <li class="mb-2"><a href="javascript:void(0)" class="text-black text-decoration-none" aria-label="Link - Alias Domenica">Alias Domenica</a></li>
              <li class="mb-2"><a href="javascript:void(0)" class="text-black text-decoration-none" aria-label="Link - ExtraTerrestre">ExtraTerrestre</a></li>
              <li class="mb-2"><a href="javascript:void(0)" class="text-black text-decoration-none" aria-label="Link - Le Monde Diplomatique">Le Monde Diplomatique</a></li>
              <li class="mb-2"><a href="javascript:void(0)" class="text-black text-decoration-none" aria-label="Link - La fine del mondo">La fine del mondo</a></li>
            </ul>
          </div>

        </div>

        <!-- SECONDA COLONNA (IL MANI + IL QUOTIDIANO + SOCIAL) -->
        <div class="col-12 col-md-4 footer-col-mani-wrapper">

          <div class="footer-col-ilmani">
            <h6 class="fw-bold footer-title fs-0-9">IL MANI</h6>
            <ul class="list-unstyled small">
              <li class="mb-2"><a href="javascript:void(0)" class="text-black text-decoration-none" aria-label="Link - Gerenza">Gerenza</a></li>
              <li class="mb-2"><a href="javascript:void(0)" class="text-black text-decoration-none" aria-label="Link - Store">Store</a></li>
              <li class="mb-2"><a href="javascript:void(0)" class="text-black text-decoration-none" aria-label="Link - Abbonamenti">Abbonamenti</a></li>
              <li class="mb-2"><a href="javascript:void(0)" class="text-black text-decoration-none" aria-label="Link - Contatti">Contatti</a></li>
              <li class="mb-2"><a href="javascript:void(0)" class="text-black text-decoration-none" aria-label="Link - Aiuto">Aiuto</a></li>
              <li class="mb-2"><a href="javascript:void(0)" class="text-black text-decoration-none" aria-label="Link - English edition">English edition</a></li>
            </ul>
          </div>

          <div class="footer-col-quotidiano mt-4">
            <h6 class="fw-bold footer-title fs-0-9">IL QUOTIDIANO</h6>
            <ul class="list-unstyled small">
              <li class="mb-2"><a href="javascript:void(0)" class="text-black text-decoration-none" aria-label="Link - Edizioni Pdf">Edizioni Pdf</a></li>
              <li class="mb-2"><a href="javascript:void(0)" class="text-black text-decoration-none" aria-label="Link - Archivio">Archivio</a></li>
            </ul>
          </div>

          <div class="footer-col-social mt-4">
            <h6 class="fw-bold footer-title fs-0-9">SOCIAL</h6>
            <ul class="list-unstyled small social-list">
              <li class="mb-2"><a href="javascript:void(0)" class="text-black text-decoration-none" aria-label="Link - Instagram">Instagram</a></li>
              <li class="mb-2"><a href="javascript:void(0)" class="text-black text-decoration-none" aria-label="Link - Facebook">Facebook</a></li>
              <li class="mb-2"><a href="javascript:void(0)" class="text-black text-decoration-none" aria-label="Link - YouTube">YouTube</a></li>
              <li class="mb-2"><a href="javascript:void(0)" class="text-black text-decoration-none" aria-label="Link - Vimeo">Vimeo</a></li>
              <li class="mb-2"><a href="javascript:void(0)" class="text-black text-decoration-none" aria-label="Link - Spreaker">Spreaker</a></li>
              <li class="mb-2"><a href="javascript:void(0)" class="text-black text-decoration-none" aria-label="Link - Twitter">Twitter</a></li>
              <li class="mb-2"><a href="javascript:void(0)" class="text-black text-decoration-none" aria-label="Link - Pinterest">Pinterest</a></li>
            </ul>
          </div>

        </div>

        <!-- TERZA COLONNA (IL COLLETTIVO) -->
        <div class="col-12 col-md-4 footer-col-collettivo">
          <h6 class="fw-bold footer-title fs-0-9">IL COLLETTIVO</h6>
          <ul class="list-unstyled small">
            <li class="mb-2"><a href="javascript:void(0)" class="text-black text-decoration-none" aria-label="Link - MdM il mani del mani">MdM il mani del mani</a></li>
            <li class="mb-2"><a href="javascript:void(0)" class="text-black text-decoration-none" aria-label="Link - cooperativa">-&nbsp;cooperativa</a></li>
            <li class="mb-2"><a href="javascript:void(0)" class="text-black text-decoration-none" aria-label="Link - giornale">-&nbsp;giornale</a></li>
            <li class="mb-2"><a href="javascript:void(0)" class="text-black text-decoration-none" aria-label="Link - piattaforma">-&nbsp;piattaforma</a></li>
            <li class="mb-2"><a href="javascript:void(0)" class="text-black text-decoration-none" aria-label="Link - impresa">-&nbsp;impresa</a></li>
            <li class="mb-2"><a href="javascript:void(0)" class="text-black text-decoration-none" aria-label="Link - comunità">-&nbsp;comunità</a></li>
            <li class="mb-2"><a href="javascript:void(0)" class="text-black text-decoration-none" aria-label="Link - storia">-&nbsp;storia</a></li>
            <li class="mb-2"><a href="javascript:void(0)" class="text-black text-decoration-none" aria-label="Link - Buon compleanno mani!">Buon compleanno mani!</a></li>
            <li class="mb-2"><a href="javascript:void(0)" class="text-black text-decoration-none" aria-label="Link - MeMa">MeMa</a></li>
            <li class="mb-2"><a href="javascript:void(0)" class="text-black text-decoration-none" aria-label="Link - il mani Lab">il mani Lab</a></li>
            <li class="mb-2"><a href="javascript:void(0)" class="text-black text-decoration-none" aria-label="Link - I podcast del mani">I podcast del mani</a></li>
            <li class="mb-2"><a href="javascript:void(0)" class="text-black text-decoration-none" aria-label="Link - Le novità digitali">Le novità digitali</a></li>
            <li class="mb-2"><a href="javascript:void(0)" class="text-black text-decoration-none" aria-label="Link - Le app del mani">Le app del mani</a></li>
            <li class="mb-2"><a href="javascript:void(0)" class="text-black text-decoration-none" aria-label="Link - #ilmani50">#ilmani50</a></li>
            <li class="mb-2"><a href="javascript:void(0)" class="text-black text-decoration-none" aria-label="Link - Diritti foto e articoli">Diritti foto e articoli</a></li>
            <li class="mb-2"><a href="javascript:void(0)" class="text-black text-decoration-none" aria-label="Link - Correzioni">Correzioni</a></li>
            <li class="mb-2"><a href="javascript:void(0)" class="text-black text-decoration-none" aria-label="Link - la manifestival">la manifestival</a></li>
          </ul>
        </div>

      </div>
    </div>

  </div>
</div>
