<div class="py-1">
  <div class="main-nav">
    <div class="container">
      <ul class="nav nav-links">
        <li class="nav-item"><a href="javascript:void(0)" class="nav-link"  aria-label="Link - Edizione di oggi">Edizione
          di oggi</a></li>
        <li class="nav-item"><a href="javascript:void(0)" class="nav-link" aria-label="Link - Abbonati">Abbonati</a>
        </li>
        <li class="nav-item"><a href="javascript:void(0)" class="nav-link" aria-label="Link - Politica">Politica</a>
        </li>
        <li class="nav-item"><a href="javascript:void(0)" class="nav-link" aria-label="Link - Internazionale">Internazionale</a>
        </li>
        <li class="nav-item"><a href="javascript:void(0)" class="nav-link" aria-label="Link - Cultura">Cultura</a></li>
        <li class="nav-item"><a href="javascript:void(0)" class="nav-link" aria-label="Link - Visioni">Visioni</a></li>
        <li class="nav-item"><a href="javascript:void(0)" class="nav-link" aria-label="Link - MdM">MdM</a></li>
        <li class="nav-item"><a href="javascript:void(0)" class="nav-link" aria-label="Link - Podcast">Podcast</a></li>
        <li class="nav-item"><a href="javascript:void(0)" class="nav-link" aria-label="Link - Newsletter">Newsletter</a>
        </li>
      </ul>
    </div>
  </div>
</div>
