<div class="top-bar py-2 hide-on-mobile">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex gap-3 align-items-center">
        <div class="d-flex align-items-center">
          <span class="text-secondary fs-small" aria-label="Data corrente">{{currentDate}}</span>
          <span class="text-secondary mx-1" aria-hidden="true">—</span>
          <span class="text-secondary fs-small" aria-label="Ultimo aggiornamento">{{currentUpdate}}</span>
        </div>
        <a href="javascript:void(0)" class="top-link" aria-label="Link - Abbonamenti">Abbonamenti</a>
        <a href="javascript:void(0)" class="top-link" aria-label="Link - Ultime edizioni">Ultime edizioni</a>
      </div>
      <div class="d-flex gap-3">
        <a href="javascript:void(0)" class="top-link" aria-label="Link - Store">Store</a>
        <a href="javascript:void(0)" class="top-link" aria-label="Link - Contatti">Contatti</a>
        <a href="javascript:void(0)" class="top-link" aria-label="Link - English">English</a>
        <a href="javascript:void(0)" class="top-link" aria-label="Link - Aiuto">Aiuto</a>
        <a href="javascript:void(0)" class="top-link" aria-label="Link - Tariffe">Tariffe</a>
        <a href="javascript:void(0)" class="top-link" aria-label="Link - Gerenza">Gerenza</a>
      </div>
    </div>
  </div>
</div>
