.top-bar {
  background-color: var(--gray-lighter);
  font-size: 0.85rem;
}

.top-link {
  color: #777;
  font-size: 0.875rem;
  text-decoration: underline;
  text-decoration-color: rgba(85, 85, 85, 0.5);
  text-decoration-thickness: 0.5px;
  text-underline-offset: 1px;
  cursor: pointer;
  transition: text-decoration 0.3s ease;
}

.top-link:hover {
  text-decoration: underline;
  text-decoration-color: rgba(85, 85, 85, 0.5);
  text-decoration-thickness: 2px;
}

/* Focus visibile */
*:focus-visible {
  outline: auto 2px var(--focus-red) !important;
  outline-offset: 0 !important;
}

/* Nasconde la topbar su mobile */
@media (max-width: 1020px) {
  .hide-on-mobile {
    display: none !important;
  }
}
