<!-- CARDS - FILM -->
<div class="more-articles mb-5">
  <div class="mb-4">
    <a href="javascript:void(0)" class="section-title" aria-label="Sezione - FILM">FILM</a>
  </div>
  <div class="row g-4">
    <div class="col-12 col-md-6 col-lg-3">
      <article class="card h-100 border-0">
        <a href="javascript:void(0)" aria-label="Link immagine articolo FILM 1">
          <img src="https://placehold.co/300x225/cccccc/666666?text=FOTO+1" class="card-img-top" alt="Immagine articolo FILM 1">
        </a>
        <div class="card-body px-0">
          <h5>
            <a href="javascript:void(0)" class="card-title" aria-label="Titolo articolo - Lorem ipsum">Lorem ipsum dolor
              sit amet, consectetur adipiscing elit</a>
          </h5>
          <p class="card-text small text-secondary">Tizio 1</p>
        </div>
      </article>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <article class="card h-100 border-0">
        <a href="javascript:void(0)" aria-label="Link immagine articolo FILM 2">
          <img src="https://placehold.co/300x225/cccccc/666666?text=FOTO+2" class="card-img-top" alt="Immagine articolo FILM 2">
        </a>
        <div class="card-body px-0">
          <h5>
            <a href="javascript:void(0)" class="card-title" aria-label="Titolo articolo - Ut enim">Ut enim ad minim
              veniam, quis nostrud exercitation</a>
          </h5>
          <p class="card-text small text-secondary">Tizio 2</p>
        </div>
      </article>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <article class="card h-100 border-0">
        <a href="javascript:void(0)" aria-label="Link immagine articolo FILM 3">
          <img src="https://placehold.co/300x225/cccccc/666666?text=FOTO+3" class="card-img-top" alt="Immagine articolo FILM 3">
        </a>
        <div class="card-body px-0">
          <h5>
            <a href="javascript:void(0)" class="card-title" aria-label="Titolo articolo - Duis aute">Duis aute irure
              dolor in reprehenderit in voluptate</a>
          </h5>
          <p class="card-text small text-secondary">Tizio 3</p>
        </div>
      </article>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <article class="card h-100 border-0">
        <a href="javascript:void(0)" aria-label="Link immagine articolo FILM 4">
          <img src="https://placehold.co/300x225/cccccc/666666?text=FOTO+4" class="card-img-top" alt="Immagine articolo FILM 4">
        </a>
        <div class="card-body px-0">
          <h5>
            <a href="javascript:void(0)" class="card-title" aria-label="Titolo articolo - Excepteur sint">Excepteur sint
              occaecat cupidatat non proident</a>
          </h5>
          <p class="card-text small text-secondary">Tizio 5</p>
        </div>
      </article>
    </div>
  </div>
  <div class="gray-line mb-4" aria-hidden="true"></div>
</div>

<!-- CARDS - SPORT -->
<div class="more-articles mb-5">
  <div class="mb-4">
    <a href="javascript:void(0)" class="section-title" aria-label="Sezione - SPORT">SPORT</a>
  </div>
  <div class="row g-4">
    <div class="col-12 col-md-6 col-lg-3">
      <article class="card h-100 border-0">
        <a href="javascript:void(0)" aria-label="Link immagine articolo SPORT 1">
          <img src="https://placehold.co/300x225/cccccc/666666?text=FOTO+1" class="card-img-top" alt="Immagine articolo SPORT 1">
        </a>
        <div class="card-body px-0">
          <h5>
            <a href="javascript:void(0)" class="card-title" aria-label="Titolo articolo - Lorem ipsum">Lorem ipsum dolor
              sit amet, consectetur adipiscing elit</a>
          </h5>
          <p class="card-text small text-secondary">Tizio 1</p>
        </div>
      </article>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <article class="card h-100 border-0">
        <a href="javascript:void(0)" aria-label="Link immagine articolo SPORT 2">
          <img src="https://placehold.co/300x225/cccccc/666666?text=FOTO+2" class="card-img-top" alt="Immagine articolo SPORT 2">
        </a>
        <div class="card-body px-0">
          <h5>
            <a href="javascript:void(0)" class="card-title" aria-label="Titolo articolo - Ut enim">Ut enim ad minim
              veniam, quis nostrud exercitation</a>
          </h5>
          <p class="card-text small text-secondary">Tizio 2</p>
        </div>
      </article>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <article class="card h-100 border-0">
        <a href="javascript:void(0)" aria-label="Link immagine articolo SPORT 3">
          <img src="https://placehold.co/300x225/cccccc/666666?text=FOTO+3" class="card-img-top" alt="Immagine articolo SPORT 3">
        </a>
        <div class="card-body px-0">
          <h5>
            <a href="javascript:void(0)" class="card-title" aria-label="Titolo articolo - Duis aute">Duis aute irure
              dolor in reprehenderit in voluptate</a>
          </h5>
          <p class="card-text small text-secondary">Tizio 3</p>
        </div>
      </article>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <article class="card h-100 border-0">
        <a href="javascript:void(0)" aria-label="Link immagine articolo SPORT 4">
          <img src="https://placehold.co/300x225/cccccc/666666?text=FOTO+4" class="card-img-top" alt="Immagine articolo SPORT 4">
        </a>
        <div class="card-body px-0">
          <h5>
            <a href="javascript:void(0)" class="card-title" aria-label="Titolo articolo - Excepteur sint">Excepteur sint
              occaecat cupidatat non proident</a>
          </h5>
          <p class="card-text small text-secondary">Tizio 5</p>
        </div>
      </article>
    </div>
  </div>
  <div class="gray-line mb-4" aria-hidden="true"></div>
</div>

<!-- CARDS - CINEMA -->
<div class="more-articles mb-5">
  <div class="mb-4">
    <a href="javascript:void(0)" class="section-title" aria-label="Sezione - CINEMA">CINEMA</a>
  </div>
  <div class="row g-4">
    <div class="col-12 col-md-6 col-lg-3">
      <article class="card h-100 border-0">
        <a href="javascript:void(0)" aria-label="Link immagine articolo CINEMA 1">
          <img src="https://placehold.co/300x225/cccccc/666666?text=FOTO+1" class="card-img-top" alt="Immagine articolo CINEMA 1">
        </a>
        <div class="card-body px-0">
          <h5>
            <a href="javascript:void(0)" class="card-title" aria-label="Titolo articolo - Lorem ipsum">Lorem ipsum dolor
              sit amet, consectetur adipiscing elit</a>
          </h5>
          <p class="card-text small text-secondary">Tizio 1</p>
          <p class="card-text">
            <span class="first-word-bold" aria-label="Categoria - CINEMA">CINEMA</span>
            Sed do eiusmod tempor incididunt ut labore
          </p>
        </div>
      </article>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <article class="card h-100 border-0">
        <a href="javascript:void(0)" aria-label="Link immagine articolo CINEMA 2">
          <img src="https://placehold.co/300x225/cccccc/666666?text=FOTO+2" class="card-img-top" alt="Immagine articolo CINEMA 2">
        </a>
        <div class="card-body px-0">
          <h5>
            <a href="javascript:void(0)" class="card-title" aria-label="Titolo articolo - Ut enim">Ut enim ad minim
              veniam, quis nostrud exercitation</a>
          </h5>
          <p class="card-text small text-secondary">Tizio 2</p>
          <p class="card-text">
            <span class="first-word-bold" aria-label="Categoria - KERMESSE">KERMESSE</span>
            Ullamco laboris nisi ut aliquip ex ea commodo
          </p>
        </div>
      </article>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <article class="card h-100 border-0">
        <a href="javascript:void(0)" aria-label="Link immagine articolo CINEMA 3">
          <img src="https://placehold.co/300x225/cccccc/666666?text=FOTO+3" class="card-img-top" alt="Immagine articolo CINEMA 3">
        </a>
        <div class="card-body px-0">
          <h5>
            <a href="javascript:void(0)" class="card-title" aria-label="Titolo articolo - Duis aute">Duis aute irure
              dolor in reprehenderit in voluptate</a>
          </h5>
          <p class="card-text small text-secondary">Tizio 3</p>
          <p class="card-text">
            <span class="first-word-bold" aria-label="Categoria - CINEMA">CINEMA</span>
            Velit esse cillum dolore eu fugiat nulla pariatur
          </p>
        </div>
      </article>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <article class="card h-100 border-0">
        <a href="javascript:void(0)" aria-label="Link immagine articolo CINEMA 4">
          <img src="https://placehold.co/300x225/cccccc/666666?text=FOTO+4" class="card-img-top" alt="Immagine articolo CINEMA 4">
        </a>
        <div class="card-body px-0">
          <h5>
            <a href="javascript:void(0)" class="card-title" aria-label="Titolo articolo - Excepteur sint">Excepteur sint
              occaecat cupidatat non proident</a>
          </h5>
          <p class="card-text small text-secondary">Tizio 4</p>
          <p class="card-text">
            <span class="first-word-bold" aria-label="Categoria - CINEMA">CINEMA</span>
            Sunt in culpa qui officia deserunt mollit anim
          </p>
        </div>
      </article>
    </div>
  </div>
  <div class="gray-line mb-4" aria-hidden="true"></div>
</div>

<!-- CARDS - RUBRICHE -->
<div class="more-articles mb-5">
  <div class="mb-4">
    <a href="javascript:void(0)" class="section-title" aria-label="Sezione - RUBRICHE">RUBRICHE</a>
  </div>
  <div class="row g-4">
    <div class="col-12 col-md-6 col-lg-3">
      <article class="card h-100 border-0">
        <a href="javascript:void(0)" aria-label="Link immagine articolo RUBRICHE 1">
          <img src="https://placehold.co/300x225/cccccc/666666?text=FOTO+1" class="card-img-top" alt="Immagine articolo RUBRICHE 1">
        </a>
        <div class="card-body px-0">
          <h5>
            <a href="javascript:void(0)" class="card-title" aria-label="Titolo articolo - Lorem ipsum">Lorem ipsum dolor
              sit amet, consectetur adipiscing elit</a>
          </h5>
          <p class="card-text small text-secondary">Tizio 1</p>
        </div>
      </article>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <article class="card h-100 border-0">
        <a href="javascript:void(0)" aria-label="Link immagine articolo RUBRICHE 2">
          <img src="https://placehold.co/300x225/cccccc/666666?text=FOTO+2" class="card-img-top" alt="Immagine articolo RUBRICHE 2">
        </a>
        <div class="card-body px-0">
          <h5>
            <a href="javascript:void(0)" class="card-title" aria-label="Titolo articolo - Ut enim">Ut enim ad minim
              veniam, quis nostrud exercitation</a>
          </h5>
          <p class="card-text small text-secondary">Tizio 2</p>
        </div>
      </article>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <article class="card h-100 border-0">
        <a href="javascript:void(0)" aria-label="Link immagine articolo RUBRICHE 3">
          <img src="https://placehold.co/300x225/cccccc/666666?text=FOTO+3" class="card-img-top" alt="Immagine articolo RUBRICHE 3">
        </a>
        <div class="card-body px-0">
          <h5>
            <a href="javascript:void(0)" class="card-title" aria-label="Titolo articolo - Duis aute">Duis aute irure
              dolor in reprehenderit in voluptate</a>
          </h5>
          <p class="card-text small text-secondary">Tizio 3</p>
        </div>
      </article>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <article class="card h-100 border-0">
        <a href="javascript:void(0)" aria-label="Link immagine articolo RUBRICHE 4">
          <img src="https://placehold.co/300x225/cccccc/666666?text=FOTO+4" class="card-img-top" alt="Immagine articolo RUBRICHE 4">
        </a>
        <div class="card-body px-0">
          <h5>
            <a href="javascript:void(0)" class="card-title" aria-label="Titolo articolo - Excepteur sint">Excepteur sint
              occaecat cupidatat non proident</a>
          </h5>
          <p class="card-text small text-secondary">Tizio 5</p>
        </div>
      </article>
    </div>
  </div>
  <div class="gray-line mb-4" aria-hidden="true"></div>
</div>
