.bottom-line {
  border-top: 1px solid #e0e0e0;
  height: 1px;
  width: 100%;
  margin-top: 4px;
}

/* ============================================ */
/* MEDIA QUERY - TELEFONI (max 576px)           */
/* ============================================ */

/*@media (max-width: 576px) {
  .copyright-wrapper .container {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }

  .copyright-left p {
    margin-left: 0;
  }

  .copyright-right {
    justify-content: center;
  }
}*/

/* ============================================ */
/* MEDIA QUERY - TABLET (577px - 768px)         */
/* ============================================ */
@media /*(min-width: 577px) and*/ (max-width: 768px) {}
