<div class="subscription-box">
  <h3 class="text-white fw-medium display-5" aria-label="Titolo sezione abbonamenti">Partecipa.</h3>
  <p class="text-white mt-3 fs-5-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lacus.</p>
  <div class="d-flex align-items-center justify-content-center mt-4">
    <button class="btn-subscription-special fw-medium m-0" aria-label="Abbonamento speciale a 4 euro - pulsante">
      Abbonamento speciale a 4 euro
    </button>
    <a href="javascript:void(0)" class="subscription-link fw-medium ms-3" aria-label="Link - Tutti gli abbonamenti">Tutti
      gli abbonamenti →</a>
  </div>
</div>
